doctype html

html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
		meta(name='description', content='ひまさくはいいぞ')
		meta(name='keywords', content='ひまさく, さくひま, 向日葵, 櫻子')
		title ひまさくねっと
		style.
			html {
				height: 100%;
			}

			body {
				margin: 0;
				height: 100%;
				overflow: hidden;
			}

			img {
				position: absolute;
				display: block;
				max-width: 100%;
				margin: auto;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				pointer-events: none;
				user-select: none;
			}
	body
		img(src='/resources/himasaku.png', alt='himasaku')
